/*POLICES*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v12/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*SCROLLBAR*/

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

/*BODY*/

body {
	font-family: 'Roboto';
	background-color: #f4f4f4;
}

/*GRID*/

#grid {
	display: grid;
	width: 1000px;
	margin: 0 auto;
	grid-template-rows: [header] 100px [content] 600px;
	grid-template-columns: [title] 1fr [nav] 1fr;
}

/*HEADER*/

#header-bg {
	position: fixed;
	z-index: 98;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #b9b9b9;
}

/*TITRE*/

#title {
	grid-row: header;
	grid-column: title;
	position: fixed;
	z-index: 99;
}

#title h1 {
	margin: 0;
	padding: 0;
	display: inline;
	font-family: 'Amatic SC';
	font-size: 60px;
}

#logo-mini {
	position: absolute;
	padding-left: 30px;
	padding-top: 15px;
}

/*NAVIGATION*/

#nav {
	grid-row: header;
	grid-column: nav;
	position: fixed;
	z-index: 99;
	right: 260px;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 30px 0;
	text-align: right;
}

#nav li {
	display: inline;
	text-transform: uppercase;
	font-size: 18px;
	padding: 0 0 0 20px;
}

#nav a {
	text-decoration: none;
	color: #000;
	transition: all ease-in-out 0.2s;
}

#nav a:hover {
	opacity: 0.5;
  	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.hidden {
	display: none;
}

/*CONTENU INDEX*/

#content {
	grid-row: content;
	grid-column: title / span 2;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

#content img {
	margin: 0 auto;
	max-width: 100%;
}

#left-column {
	float: left;
}

figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

img, figcaption {
    transition: all .25s ease;
}

figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: rgba(255, 255, 255, .75);
    color: #000;
    text-align: justify;
    vertical-align: middle;
    padding: 20px;
    opacity: 0;
}

figure:hover img {
    transform: scale(1.1);
}

figure:hover figcaption {
    opacity: 1;
}


/*CONTENU A PROPOS*/

#apropos {
	width: 400px;
	margin: 0 auto;
}

#apropos p {
	text-align: justify;
	color: #3C3C3C;
}

#apropos img {
	margin: 0 auto;
}

/*CONTENU CONTACT*/

#contact {
	width: 400px;
	margin: 0 auto;
}

#contact img {
	margin: 0 auto;
	transition: all ease-in-out 0.2s;
}

#contact img:hover {
	opacity: 0.5;
  	filter: alpha(opacity=50); /* For IE8 and earlier */
}

